* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1a0b2e;
}
.color {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
header .header-container {
  width: 75%;
  max-width: 1200px;

  margin: 30px auto 0px;
  display: flex;

  justify-content: space-between;

  align-items: center;
}

header .header-left {
  color: white;
  font-size: 20px;
}
.header-middle ul {
  display: flex;
  gap: 20px;
}
.header-middle li {
  list-style-type: none;
}
.header-middle a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.header-right button {
  width: 135px;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;

  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);

  font-size: 16px;
  padding: 12px 40px 12px 16px;
  border-radius: 25px;
  border: none;
}
.banner {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  border: 1px solid white;
  margin-top: 30px;
  align-items: center;
  text-align: center;
}
.banner-content {
  width: 550px;
  border: 1px solid white;
  margin: 101px auto;
}
.banner-content .image-box {
  width: 350px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.image-box button {
  background-color: green;
  color: white;
  width: 75px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.banner-content h3 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin-top: 40px;
}
.banner-content p {
  color: white;
  font-size: 16px;
  margin-top: 8px;
}
.banner-content .listen {
 
  padding: 10px  ;
  margin-top: 20px;
  color: white;

  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);

  font-size: 16px;

  border-radius: 25px;
  border: none;
}
.banner-content .subscribe{
font-size: 16px;
font-weight: bold;
color: #00FF88;
border: 1px solid #00FF88;
background-color: #1a0b2e;
padding: 10px;
border-radius: 10px;
margin-left: 10px;
}
